<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SIGN UP</title>
</head>
<body  ng-app="Application" ng-controller="bookingcontroller">



<form ng-submit="form1.submit();">

			


			<div align="center" class=" container-fluid">




				<div >

					
						<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">ID</p>
						<input class="text-left form-control" type="text"
							required="required"
							oninvalid="setCustomValidity('ID MUST START FROM A OR S OR C');"
							pattern="(A|S|C)[0-9]*" placeholder="Enter ID" name="ID"
							id="userId" ng-model="form1.userId">
					</div>

					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Name</p>
						<input class="text-left form-control" type="text"
							required="required"
							oninvalid="setCustomValidity('naam jruri aa prna');"
							pattern="[a-zA-Z]+" placeholder="Enter Name" name="userName"
							id="uname" ng-model="form1.userName" onchange="myform();">
					</div>




					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Address</p>
						<input ng-model="form1.address" name="address"
							class="text-left form-control" id="address" type="text">

					</div>
				
					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Role</p>
						<input class="text-left form-control" type="text"
							required="required"
							oninvalid="setCustomValidity('ADMIN OR SUPPLIER OR CUSTOMER');"
							pattern="(ADMIN|SUPPLIER|CUSTOMER)" placeholder="Enter Name" name="Name"
							id="userRole" ng-model="form1.userRole" >
					</div>
					
					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Email</p>
						<input class="text-left form-control" type="text"
							required="required"
							
						 placeholder="Enter Email" name="email"
							id="email" ng-model="form1.email" >
					</div>
					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Password</p>
						<input class="text-left form-control" type="text"
							required="required"
							
							 placeholder="Enter Password" name="password"
							id="password" ng-model="form1.password" >
					</div>

					<div class="form-group">
						<p class="text-left" style="font-weight: bolder;">Sex</p>
						<label ng-repeat="k in sexlist" class="radio-inline"> <input
							type="radio" ng-model="form1.gender" ng-value="k"
							name="gender" required="required"> <span
							style="font-weight: bolder;">{{k}}</span><br>
					</div>
					</label>
					
					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Mobile</p>
						<input class="text-left form-control" type="number"
							required="required"
							
							 placeholder="Enter Mobilenumber" name="MobileNumber"
							id="mobileNumber" ng-model="form1.mobileNumber" >
					</div>
					<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">D.O.B</p>
						<input class="text-left form-control" type="Date"
							required="required" 							
							 placeholder="Enter D.O.B" name="dateOfBirth"
							id="dateOfBirth" ng-model="$parent.dateOfBirth1" >
					</div>
					


<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">Type</p>
						<input class="text-left form-control" type="text"
							required="required"
							oninvalid="setCustomValidity('GOLD OR SILVER OR PLATINUM');"
							pattern="(GOLD|SILVER|PLATINUM)" placeholder="Enter UserType" name="Name"
							id="userType" ng-model="form1.userType" >
					</div>
					
<div align="left" class="form-group">
						<p class="text-left" style="font-weight: bolder;">User Status</p>
						<input class="text-left form-control" type="text"
							required="required"
							oninvalid="setCustomValidity('A OR D');"
							pattern="(A|D)" placeholder="Enter UserStatus" name="userStatus6"
							id="userStatus" ng-model="form1.userStatus" >
					</div>
					

					<div align="center" class="form-group">
						<input class=" btn btn-success" type="submit" value="Submit">

					</div>

					<div align="center" class="form-group">
						<input class=" btn btn-success" type="reset">
					</div>


				</div>

				


			</div>






		</form> 
</div>

</body>
</html>